body {
    margin: 0px;
    height: auto;
}

.background {
    position: relative;
    background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
    background-image: url("../../assets/images/footer-gradient-background.png"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
    height: 908px;
    margin-left: auto;
    margin-right: auto;
}



.boundary {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.container1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

header {
    display: flex;
    justify-content: space-between;
    height: auto;
    width: 100vw;
}

.heading1 {
    position: relative;
    display: flex;
    margin-top: 60px;
    margin-left: 40px;
    z-index: 1;
}

.heading2 {
    display: flex;
    flex-direction: column;
    padding: 0;

}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

h1 {
    margin: 0;
    padding: 0;
}

.headingtitle {
    display: flex;
    text-decoration: none;
    justify-content: flex-start;
    font-family: 'Georgia', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    color: #F1CDB3;
    margin-bottom: 0px;
    margin-top: 0px;
    letter-spacing: 0.06em;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.title {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    margin-top: 10px;
    margin-left: 3.5px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navElements {
    display: flex;
    margin: auto 40px auto auto;

}

.menu {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li a {
    overflow: hidden;
}

.highlight {
    text-decoration: underline 3px;
    text-decoration-color: #F1CDB3;
    text-underline-offset: 4px;
    color: #FAFAFA;
}


nav ul li a {
    text-decoration: none;
    margin-top: 76px;
    padding-left: 35px;
    color: #CDCDCD;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 0.95rem;
    line-height: 160%;
}

.navEl :hover {
    color: white;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #F1CDB3;
    position: absolute;
    z-index: 1;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -12px;
}

.menu-button::after {
    content: '';
    margin-top: 12px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
    margin-top: 20px;
}

#menu-toggle:checked+.menu-button-container .menu-button {
    margin-top: 0px;
    transform: rotate(90deg);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
    margin-top: 10px;
}




.notOnly1 {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    height: 702px;
    margin-top: 60px;
    padding: 0;
}



.notOnly {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    /* margin-top: 223px;
    margin: 150px 35px auto 40px; */
    padding: 0;
}



.notOnly h2 {
    align-self: flex-start;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 2.75rem;
    line-height: 130%;
    letter-spacing: 0.06rem;
    color: #FFFFFF;
    padding: 0;
    margin: 0;
}

.notOnly h4 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 0.95rem;
    line-height: 160%;
    color: #CDCDCD;
    margin-top: 40px;
}

.notOnly button {
    height: 52px;
    width: 207px;
    left: 0px;
    top: 270px;
    border-radius: 100px;
    padding: 15px, 45px, 15px, 45px;

    background: #F1CDB3;
    color: #292929;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 130%;
    border: none;
    margin-top: 21px;
}

.FriendBtn:hover {
    background: #FDDCC4;
    cursor: pointer;
}


.dog1 {
    display: flex;
    /* max-width: 54.53vw;
    max-height: 56.87vw; */
    margin-right: 40px;
    left: calc(50% - 698px/2 + 251px);
    bottom: 0px;
}

.dog1 img {

    max-width: 698px;
    max-height: 728px;

}

@media (max-width: 1279px) {
    .heading1 {
        margin-top: 30px;
        margin-left: 30px;
    }

    /* .nav-container {
        height: 20px;
        margin: 10px 30px auto auto;
    } */

    .background {
        display: flex;
        flex-direction: column;
        /* justify-content: flex-end; */
        align-items: center;
        height: 1165px;

    }

    .notOnly1 {
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        align-self: flex-end;

        height: 1065px;
        margin-bottom: 0;
        margin-top: 0px;
    }

    .notOnly {

        max-width: 622px;
        max-height: 460px;
        margin-top: 0px;
        margin-bottom: 102px;
    }

    .notOnly button {
        align-self: center;
    }

    .dog1 {
        justify-content: center;
        align-items: flex-end;
        margin-right: 30px;
        margin-bottom: 0;
    }

    .dog1 img {

        max-width: 569px;
        max-height: 593px;

    }
}

@media (max-width: 767px) {
    .background {

        height: 823px;

    }

    .notOnly h4 {

        font-size: 0.93rem;

    }

    .notOnly {
        text-align: center;

    }

    .notOnly h2 {
        align-self: center;
        font-size: 1.56rem;
    }

    .dog1 img {
        max-width: 44.453vw;
        max-height: 46.328vw;
    }
}

@media (max-width: 767px) {

    .nav-container {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        margin: auto 3px auto auto;
    }

    .menu-button-container {
        display: flex;
        margin-top: 0;
    }

    .menu {
        position: absolute;
        display: flex;
        top: 0;
        margin-top: 0px;
        left: 0;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        align-self: flex-start;
        background-color: #222;

    }

    #menu-toggle~.menu {
        padding-top: 100px;
        height: 150vh;
        max-width: 320px;
        transform: translate(320%);
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: transform 0.5s ease-in-out;
    }

    #menu-toggle:checked~.menu {
        transform: translateX(59vw);

    }

    #menu-toggle~.menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked~.menu li {
        margin-top: 43px;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle~.menu li a {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked~.menu li a {
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 160%;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked~.highlight {
        color: #ffffff;
    }
}

@media (max-width: 700px) {
    #menu-toggle:checked~.menu {
        transform: translateX(54vw);

    }

    .nav-container {
        margin: auto auto auto auto;
    }

}

@media (max-width: 600px) {
    #menu-toggle:checked~.menu {
        transform: translateX(45vw);

    }

}

@media (max-width: 500px) {
    #menu-toggle:checked~.menu {
        transform: translateX(36vw);

    }

    .dog1 img {
        max-width: 260px;
        max-height: 271px;
    }
}

@media (max-width: 430px) {
    #menu-toggle:checked~.menu {
        transform: translateX(19vw);

    }


}

@media (max-width: 374px) {
    #menu-toggle:checked~.menu {
        transform: translateX(14vw);

    }

}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 588px;

}

.pets {
    margin-top: 80px;

}

.aboutText {
    display: flex;
    flex-direction: column;
    margin-left: 120px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 430px;
}

.about-heading {
    margin-top: 0px;
    margin-bottom: 0;
}

.about-text-box {
    margin-top: 0px;
}

.aboutText h2 {
    display: inline-block;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
}

.about-text {
    margin-top: 23px;
    display: inline-block;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
}

.about-text2 {
    margin-top: 6px;
    display: inline-block;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
}

@media (max-width: 1279px) {
    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 1055px;

    }

    .aboutText {
        margin-left: auto;
        margin-right: auto;
        margin-top: 80px;
    }

    .aboutText h2 {
        font-size: 25px;
    }

    .pets {
        order: 2;
    }

    .pets img {
        /* margin-top: 80px; */
        max-width: 300px;
        max-height: 400px;

    }
}

@media (max-width: 767px) {
    .about {
        justify-content: flex-start;
        height: 974px;
    }

    .aboutText {
        margin-left: auto;
        margin-right: auto;
        margin-top: 32px;
        width: 300px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .pets {
        margin-top: 42px;
        margin-bottom: 0;
    }

    .pets img {
        max-width: 260px;
        max-height: 353px;
    }
}


.ourFriendsBackground {
    background: #F6F6F6;
    max-height: 877px;
}

.ourFriends {
    background: #F6F6F6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 877px;
}

.ourFriendsTitle {
    text-align: center;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    padding-top: 7px;
    padding-bottom: 20px;

}

.getKnow:hover {
    cursor: pointer;
    background: #FDDCC4;
}

.ourFriends1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: #FAFAFA;
    border-radius: 9px;
    width: 270px;
    height: 435px;
}

.card:hover {
    cursor: pointer;
    background: #ffffff;
}


.card:hover .learnMore {
    cursor: pointer;
    background: #FDDCC4;
    border-color: #FDDCC4;
}

.learnMore {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 45px;
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    background: #FAFAFA;
}

.card h3 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    margin-top: 37px;
    margin-bottom: 29px;
}

.arrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 23px 19px;
    width: 52px;
    height: 52px;
    left: 0px;
    top: 192px;
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
    margin-left: 30px;
    margin-right: 53px;
}

.arrow:hover {
    border-color: #FDDCC4;
    background: #FDDCC4;
}

.right {
    margin-left: 53px;
    margin-right: 30px;
}

.jennifer {
    margin: auto 85px auto 85px;
}



.getKnow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 35px;
    margin-top: 60px;
    margin-bottom: 60px;
    width: 261px;
    height: 52px;
    left: 470px;
    top: 645px;
    background: #F1CDB3;
    border-radius: 100px;
    border: none;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;

}

@media (max-width: 1279px) {
    .woody {
        display: none;
    }

    .arrow {

        margin-left: auto;
        margin-right: 12px;
    }

    .right {
        margin-left: 12px;
        margin-right: auto;
    }

    .jennifer {
        margin: auto auto auto 40px;
    }

}

@media (max-width: 767px) {
    .jennifer {
        display: none;
    }

    .ourFriends1 {
        position: relative;
        flex-direction: column;

    }

    .left {
        order: 2;
        position: absolute;
        margin-top: 260px;

    }

    .right {
        position: absolute;
        margin-top: 260px;
        margin-left: 200px;
        order: 2;
    }

    .getKnow {

        margin-top: 130px;

    }

    .ourFriendsBackground {
        max-height: 791px;
        max-height: auto;
        height: 791px;
    }

    .ourFriendsTitle {
        padding-top: 42px;
        padding-bottom: 42px;


    }

    .ourFriends {
        background: #F6F6F6;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        max-height: 791px;
        height: 791px;
    }

    .ourFriendsTitle {
        font-size: 25px;


    }

    .getKnow {

        margin-top: 80px;
        margin-bottom: 20px;

    }
}

.help {

    height: 611px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.help-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 80px 40px 100px 40px;

}

.helpText {
    display: flex;
    justify-content: center;
    text-align: center;
}

.help h2 {
    align-self: center;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    padding-bottom: 60px;
    margin-top: 0;
    margin-bottom: 0;
}

.objects {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}



.object2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 0px;
    width: 150px;
    height: 113px;
    margin-bottom: 55px;
    padding-right: 30px;
    padding-left: 30px;

}

.object2 img {
    width: 60px;
    height: 60px;

}

.object2>h3 {

    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    text-align: center;
    letter-spacing: 0.06rem;
    color: #545454;
}



@media (max-width: 1279px) {

    .help {
        height: 779px;
    }

    .help-container {
        margin: 80px 69px auto 69px;
    }

    .object2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin-top: 0px;
        width: 150px;
        height: 113px;
        margin-bottom: 55px;
        padding-right: 15px;
        padding-left: 15px;

    }

}

@media (max-width: 767px) {

    .help {

        height: 745px;
        display: flex;
        justify-content: center;
        align-items: center;

    }


    .help-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 300px;
        margin: 40px 15px auto 15px;

    }

    .objects {
        display: flex;
        justify-content: space-between;
        align-content: flex-start;
        /* margin-left: auto;
        margin-right: auto; */
        /* align-items: center; */
        flex-wrap: wrap;
        width: 300px;
    }

    .house {
        align-self: flex-start;
    }

    .object2 img {
        width: 50px;
        height: 50px;

    }

    .help h2 {
        font-size: 25px;
    }

    .object2>h3 {
        font-size: 15px;

    }

    .object2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin-top: 0px;
        width: 130px;
        height: 87px;
        margin-bottom: 30px;
        padding-right: 0px;
        padding-left: 0px;

    }


}


.donationBackground {
    background: #F6F6F6;
}

.donation {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: #F6F6F6;
    height: 462px;
}

.donationImg {
    margin-top: 91px;
    margin-bottom: 100px;
}

.donationImg img {
    width: 505px;
    height: 261px;
    left: 0px;
    top: 11px;
}

.donationText {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding-top: 79px;
    margin-bottom: 0;
    margin-left: 30px;
    width: 380px;
    left: 535px;
    top: 0px;
}

.donationText h2 {
    display: inline-block;
    margin-bottom: 19px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
    margin-top: 0;

}

.donationText h4 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
    margin-top: 0;
}

.cardSmall {
    display: flex;
    align-items: center;
    width: 349px;
    height: 43px;
    left: 0px;
    top: 147px;
    background: #F1CDB3;
    border-radius: 9px;
    margin-top: 0;
}

.donationPhone {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
    text-decoration: none;


}

.cardSmall img {
    margin-left: 15px;
    margin-right: 15px;
}


.donationText h5 {
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #B2B2B2;
    margin-top: 20px;

}



@media (max-width: 1279px) {

    .donation {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background: #F6F6F6;
        height: 783px;

    }

    .donationText {
        order: 1;
        padding-top: 80px;
        margin-bottom: 0;

        width: 380px;


    }

    .donationImg {
        order: 2;
        padding-top: 60px;
        margin-top: 0;
        margin-bottom: 0;

    }

}

@media (max-width: 767px) {

    .donation {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background: #F6F6F6;
        height: 542px;
    }

    .donationText {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 42px;
        order: 1;
        margin-bottom: 0;
        margin-bottom: 0;
        margin-left: 0px;


        width: 281px;


    }

    .cardSmall {
        width: 281px;
    }

    .donationImg {
        order: 2;
        padding-top: 42px;
        margin-top: 0;
        margin-bottom: 0;

    }

    .donationText h2 {
        display: inline-block;
        margin-bottom: 19px;
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 130%;
        display: flex;
        align-items: center;
        letter-spacing: 0.06em;
        color: #545454;
        margin-top: 0;

    }

    .donationPhone {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 115%;
        display: flex;
        align-items: center;
        letter-spacing: 0.06em;
        color: #545454;
        text-decoration: none;


    }

    .donationImg img {
        width: 260px;
        height: 135px;
        left: 0px;
        top: 11px;
    }

}

footer {
    background: radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%);
    background-image: url("../../assets/images/footer-gradient-background.png"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);


}

.footer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: min 56px;
    margin-bottom: 0;
    height: 350px;

}

.contact {
    margin-top: 35px;
    margin-left: 40px;
}

.contact2 {
    margin-left: 80px;
    margin-top: 35px;

}

.contact h2 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    margin-bottom: 22px;
}



.contact2 h2 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.mailto {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-bottom: 7px;
}

.phoneto {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.contactObject h3 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;

}

.location {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.contactObject img {
    margin-right: 20px;
}

.dogy {
    width: 300px;
    height: 310px;
    top: 0px;
    margin-left: 165px;
    margin-bottom: 0;
    align-self: flex-end;

}

@media (max-width: 1279px) {

    .footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: min 56px;
        margin-bottom: 0;
        height: 639px;

    }

    .contact {
        margin-top: 30px;
        margin-left: 0px;
    }

    .contact2 {
        margin-left: 8%;
        margin-top: 30px;

    }

    .dogy {
        padding-top: 2%;
        margin-left: 0px;

    }

}

@media (max-width: 767px) {
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        text-align: center;
        height: 809px;

    }

    .mailto {
        text-align: center;
    }

    .phoneto {
        text-align: center;
    }

    .location {
        text-align: center;
    }

    .contactObject {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact2 {
        margin-left: 0px;
        margin-top: 0px;

    }

    .contact h2 {
        font-size: 25px;
    }

    .contact2 h2 {
        font-size: 25px;

    }

    .contact {
        margin-top: 0px;
        margin-left: 0px;
    }

    .dogy {
        width: 260px;
        height: 269px;
        padding-top: 2%;
        margin-top: 35px;
        margin-left: 0px;
        align-self: center;

    }

}
